{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ post.title }}</h1>
                <h4>Publicado el {{ post.creationDate.format('d/m/Y H:i:s') }} por {{ post.author.getUserName }}</h4>
                <div>{{ post.content|raw }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ render(controller('App\\Controller\\CommentController::commentform', { id: post.id })) }}
                {% else %}
                    <!-- Aqui boton para iniciar sesion en caso que no se haya iniciado sesion -->
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}