{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="post-header">
                    <h1>{{ post.title }}</h1>
                    <h6>Publicado el {{ post.creationDate.format('d/m/Y H:i:s') }} por {{ post.author.getUserName }}</h6>
                </div>
                <div class="post-body">{{ post.content|raw }}</div>
                <div class="post-comments">
                    <h2>Comentarios <span class="badge badge-secondary">{{ post.comments.count }}</span></h2>
                    <div class="comment-editor">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ render(controller('App\\Controller\\CommentController::commentform', { id: post.id })) }}
                        {% else %}
                            <p>Tienes que <a href="{{ path('login') }}">Iniciar sesion</a> para publicar un comentario!</p>
                        {% endif %}
                    </div>
                    <div class="comments">
                        {% for comment in post.comments %}
                            <div class="comment">
                                <h5>{{ comment.user.username }}</h5>
                                <p>{{ comment.content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
