{% extends 'dashboard/dashboard.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block section %}
    <section id="account">
        <h1>{{ user.getUserName }} <span class="badge badge-secondary">{{ user.getRol }}</span></h1>
        <div class="row">
            <div class="col-4">
                <h3>Cambiar nombre de usuario</h3>
                <div style="display: none;" class="alert alert-danger" id="username-status-msg" role="alert"></div>
                <form id="form-ch-username" action="{{ path('user_rename') }}" method="post">
                    <input class="form-control" type="text" name="newusername" required />
                    <button class="btn btn-success" type="submit">Cambiar nombre</button>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-4">
                <h3>Cambiar la contraseña</h3>
                <form id="form-ch-password">
                    <input class="form-control" type="password" name="currentpassword" placeholder="Contraseña actual" required />
                    <input class="form-control" type="password" name="newpassword" placeholder="Contraseña nueva" required />
                    <input class="form-control" type="password" name="repatnewpassword" placeholder="Repetir contraseña nueva" required />
                    <button class="btn btn-success" type="submit">Cambiar contraseña</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function checkUsername(name, callback) {
            $.ajax({
                url: "{{ path('user_check_username') }}",
                type: 'POST',
                data: { username: name },
                dataType: 'JSON',
                success: function(data) {
                    callback(data.isused);
                }
            });
        }

        $(document).ready(function(){
            var allowSubmit = true;
            var $alertBox = $('#username-status-msg');
            var $inputUsername = $('#form-ch-username input');
    /*
            $('#form-ch-username').on('submit', function(event){
                if(!allowSubmit) {
                    event.preventDefault();
                    return false;
                }
            });
*/
            $inputUsername.on('blur', function(){
               var username = $(this).val();

               checkUsername(username, function(isUsed) {
                   if(isUsed) {
                       $alertBox.text('El nombre de usuario esta en uso');
                       $alertBox.show();
                       $inputUsername.css('box-shadow', '0px 0px 3px red');
                   } else {
                       $alertBox.hide();
                       $inputUsername.css('box-shadow', '0px 0px 3px green');
                   }
               });
            });
        });
    </script>
{% endblock %}