{% extends 'dashboard/dashboard.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block section %}
    <section id="account">
        <h1>{{ user.getUserName }} <span class="badge badge-secondary">{{ user.getRol }}</span></h1>
        <div class="row">
            <div class="col-4">
                <h3>Cambiar nombre de usuario</h3>
                <div style="display: none;" class="alert alert-danger" id="username-status-msg" role="alert"></div>
                <form id="form-ch-username" action="{{ path('user_rename') }}" method="post">
                    <input class="form-control" type="text" name="newusername" required />
                    <button class="btn btn-success" type="submit" disabled>Cambiar nombre</button>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col-4">
                <h3>Cambiar la contraseña</h3>
                {% if changePasswordError %}
                    <div class="alert alert-danger">{{ changePasswordError }}</div>
                {% endif %}
                <form id="form-ch-password" action="{{ path('user_change_password') }}" method="post">
                    <input class="form-control" type="password" name="currentpassword" placeholder="Contraseña actual" required />
                    <input id="passwordInput" class="form-control" type="password" name="newpassword" placeholder="Contraseña nueva" required />
                    <input id="passwordrepeatInput" class="form-control" type="password" name="repatnewpassword" placeholder="Repetir contraseña nueva" required />
                    <button class="btn btn-success" type="submit">Cambiar contraseña</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var $alertBox = $('#username-status-msg');
            var $inputUsername = $("#form-ch-username input");
            var $buttonChUserName = $("#form-ch-username button");

            $inputUsername.on('blur', function(){
               var name = $(this).val();

                if(name !== "") {
                    $.ajax({
                        url: "{{ path('user_check_username') }}",
                        type: 'POST',
                        data: { username: name },
                        dataType: 'JSON',
                        success: function(data) {
                            if(data.isused) {
                                $alertBox.text('El nombre de usuario esta en uso');
                                $alertBox.show();
                                $inputUsername.css('box-shadow', '0px 0px 3px red');
                                $buttonChUserName.prop("disabled", true);
                            } else {
                                $alertBox.hide();
                                $inputUsername.css('box-shadow', '0px 0px 3px green');
                                $buttonChUserName.prop("disabled", false);
                            }
                        }
                    });
                } else {
                    $buttonChUserName.prop("disabled", true);
                }
            });

            $('#passwordrepeatInput').on('blur', function() {
               var password = $('#passwordInput').val();
               var repeatPassword = $(this).val();

               if(password === repeatPassword) {
                   $(this).css('box-shadow', '0px 0px 3px green');
                   $('#passwordInput').css('box-shadow', '0px 0px 3px green');

                   $('#form-ch-password').off('submit');
               } else {
                   $(this).css('box-shadow', '0px 0px 3px red');
                   $('#passwordInput').css('box-shadow', '0px 0px 3px red');

                   $('#form-ch-password').on('submit', function(event){
                      event.preventDefault();
                      alert('Las contraseñas no coinciden!');
                   });
               }
            });
        });
    </script>
{% endblock %}