{% extends 'dashboard/dashboard.html.twig' %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block section %}
    <section id="users">
        <h1>Editar un usuario</h1>
        <div class="row">
            <div class="col-4">
                {% if status %}
                    <!-- alerta de bootstrap -->
                {% endif %}
                {{ form_start(form) }}
                {{ form_label(form.username) }}
                {{ form_widget(form.username) }}
                {{ form_label(form.rol) }}
                {{ form_widget(form.rol) }}
                {{ form_widget(form.password) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}